.container {
  height: 55vh;
  display: flex;
  align-items: center;
  .row {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    h5 {
      font-family: 'rubikMedium';
      font-size: 12.4rem;
      width: 100%;
      color: #4a494a;
    }
    p {
      font-family: 'rubikLight';
      font-size: 2.4rem;
      margin: 0 auto;
      color: rgba(73, 73, 73, 0.64);
    }
  }
}