@font-face {
  font-family: 'rubikBold';
  src: url('./assets/Rubik-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'rubikRegular';
  src: url('./assets/Rubik-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'rubikLight';
  src: url('./assets/Rubik-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'rubikMedium';
  src: url('./assets/Rubik-Medium.ttf') format('truetype');
}